doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Choom
    link(rel="stylesheet", href="/public/css/style.css")
  body
    div#container
    header
      h1 Choom 
    main 
      div#divRoom
          div#divRoomForm
          form#formCreateRoom
            button#buttonCreateRoom(class='buttonRoom')
              i.fas.fa-video
              span NEW
          span#spanOR OR
          form#formJoinRoom
            input#inputRoomId(type="text", placeholder="Enter Room Code", required)
            button#buttonJoinRoom(class='buttonRoom')
              span JOIN
          span First, you will go MIRROR room
        div#divMirror
          h2#h2MirrorRoomId ROOM CODE: 
            span#spanMirrorRoomId
          video#videoMirror(autoplay, playsinline, width="400")
          select#selectCameras
          div.divButtons
            button#buttonPreAudioOnOff(class='circleButton buttonOn')
              i.fas.fa-microphone
            button#buttonPreVideoOnOff(class='circleButton buttonOn')
              i.fas.fa-video
            button#buttonEnterRoom(class='circleButton')
              i.fas.fa-sign-in-alt
          span Are you ready to join room?
        div#divMyStream
          video#videoMyStream(autoplay, playsinline, width="400", height="400")
          button#buttonAudioOnOff Audio ON
          button#buttonVideoOnOff Video ON
          select#selectCameras
          video#videoPeerStream(autoplay, playsinline, width="400", height="400")
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 
    script(src="https://kit.fontawesome.com/511fbf653b.js")