doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Choom
    link(rel="stylesheet", href="/public/css/style.css")
  body
    div#container
    header
      h1 Choom 
    main 
      div#divRoom
          form#formCreateRoom
            button#buttonCreateRoom(class='buttonRoom')
              i.fas.fa-video
              span NEW
          span#spanOR OR
          form#formJoinRoom
            input#inputRoomId(type="text", placeholder="Enter Room Code", required)
            button#buttonJoinRoom(class='buttonRoom')
              span JOIN
      div#divCall(hidden=true)
        div#divMyStream
          video#videoMyStream(autoplay, playsinline, width="400", height="400")
          button#buttonAudioOnOff Audio ON
          button#buttonVideoOnOff Video ON
          select#selectCameras
          video#videoPeerStream(autoplay, playsinline, width="400", height="400")
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 
    script(src="https://kit.fontawesome.com/511fbf653b.js")